auth.{$DOMAIN} {
    route /auth* {
        auth_portal {
            context auth
            path /auth
            backends {
                local_backend {
                    method local
                    path {$CADDY_AUTH_USERS_PATH}
                    realm local
                }
            }
            jwt {
                token_name access_token
                token_secret {$CADDY_AUTH_TOKEN_SECRET}
                token_lifetime 1814400
            }
            cookie_domain {$DOMAIN}
        }
    }
}

(protected_route) {
    {args.0}.{$DOMAIN} {
        route {
            jwt {
                context {args.0}
                primary yes
                trusted_tokens {
                    static_secret {
                        token_name access_token
                        token_secret {$CADDY_AUTH_TOKEN_SECRET}
                    }
                }
                auth_url https://auth.{$DOMAIN}/auth
                allow roles admin superadmin
            }
            reverse_proxy {args.1}
        }
    }
}

(exposed_route) {
    {args.0}.{$DOMAIN} {
        reverse_proxy {args.1}
    }
}

nextcloud.{$DOMAIN} {
    reverse_proxy https://nextcloud:443 {
        transport http {
                tls_insecure_skip_verify
        }
    }
}

import exposed_route request overseerr:5055

import protected_route sonarr sonarr:8989
import protected_route radarr radarr:7878
import protected_route bazarr bazarr:6767

import protected_route qb vpn:8113
import protected_route deluge vpn:8112
import protected_route rtorrent vpn:49184
import protected_route jackett jackett:9117

import protected_route hydra2 hydra2:5076
import protected_route sabnzbd sabnzbd:8080

import protected_route tautulli tautulli:8181
import protected_route organizr organizr:80
