version: '3.6'

x-lsio-env: &lsio_env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}
x-default-traefik-no-auth: &default_traefik_no_auth
  traefik.enable: 'true'
  traefik.https.frontend.headers.SSLRedirect: 'true'
  traefik.https.frontend.headers.STSSeconds: '315360000'
  traefik.https.frontend.headers.browserXSSFilter: 'true'
  traefik.https.frontend.headers.contentTypeNosniff: 'true'
  traefik.https.frontend.headers.forceSTSHeader: 'true'
  traefik.https.frontend.headers.STSIncludeSubdomains: 'true'
  traefik.https.frontend.headers.STSPreload: 'true'
  traefik.https.frontend.headers.frameDeny: 'false'
x-default-traefik-opts: &default_traefik_opts
  <<: *default_traefik_no_auth
  traefik.https.frontend.auth.forward.address: 'http://organizr/api/?v1/auth&group=1'

services:
  pia:
    image: qmcgaw/private-internet-access:latest
    cap_add:
      - net_admin
    devices:
      - /dev/net/tun
    restart: unless-stopped
    ports:
      - 8113:8113
    environment:
      - USER=${PIA_USER}
      - PASSWORD=${PIA_PASS}
      - PROTOCOL=udp
      - ENCRYPTION=strong
      - REGION=${PIA_REGION}
      - EXTRA_SUBNETS=192.168.1.0/24
      - NONROOT=
    labels:
      <<: *default_traefik_opts
      traefik.backend: pia
      traefik.port: 8113
      traefik.local.frontend.rule: 'Host:qbit.localhost'
      traefik.https.frontend.rule: 'Host.qbit.${DOMAIN:-default}'

  hydra2:
    image: linuxserver/hydra2:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT}/config/hydra2:/config
      - ${ROOT}/usenet:/data/usenet
    ports:
      - 5076:5076
    restart: unless-stopped
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'hydra2'
      traefik.port: '5076'
      traefik.local.frontend.rule: 'Host:hydra2.localhost'
      traefik.https.frontend.rule: 'Host:hydra2.${DOMAIN:-default}'

  ombi:
    image: linuxserver/ombi:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT}/config/ombi:/config
    ports:
      - 3579:3579
    restart: unless-stopped
    labels:
      <<: *default_traefik_no_auth
      traefik.backend: 'ombi'
      traefik.port: '3579'
      traefik.local.frontend.rule: 'Host:ombi.localhost'
      traefik.https.frontend.rule: 'Host:ombi.${DOMAIN:-default}'

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    network_mode: service:pia
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=002
      - WEBUI_PORT=8113
    volumes:
      - ${ROOT}/config/qbittorrent:/config
      - ${ROOT}/torrents:/data/torrents
    restart: unless-stopped

  jackett:
    image: linuxserver/jackett:latest
    restart: unless-stopped
    ports:
      - 9117:9117
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}/torrents/blackhole:/blackhole # place where to put .torrent files for manual download
      - ${ROOT}/config/jackett:/config # config files
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'jackett'
      traefik.port: '9117'
      traefik.local.frontend.rule: 'Host:jackett.localhost'
      traefik.https.frontend.rule: 'Host:jackett.${DOMAIN:-default}'

  sabnzbd:
    image: linuxserver/sabnzbd:latest
    restart: unless-stopped
    ports:
      - 8081:8080
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - ${ROOT}/usenet:/data/usenet # download folder
      - ${ROOT}/config/sabnzbd:/config # config files
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'sabnzbd'
      traefik.port: '8080'
      traefik.local.frontend.rule: 'Host:sabnzbd.localhost'
      traefik.https.frontend.rule: 'Host:sabnzbd.${DOMAIN:-default}'

  sonarr:
    image: linuxserver/sonarr:preview
    restart: unless-stopped
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}:/data
      - ${ROOT}/config/sonarr:/config # config files
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'sonarr'
      traefik.port: '8989'
      traefik.local.frontend.rule: 'Host:sonarr.localhost'
      traefik.https.frontend.rule: 'Host:sonarr.${DOMAIN:-default}'

  radarr:
    image: linuxserver/radarr:latest
    restart: unless-stopped
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}:/data
      - ${ROOT}/config/radarr:/config # config files
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'radarr'
      traefik.port: '7878'
      traefik.local.frontend.rule: 'Host:radarr.localhost'
      traefik.https.frontend.rule: 'Host:radarr.${DOMAIN:-default}'

  bazarr:
    image: linuxserver/bazarr:latest
    restart: unless-stopped
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - ${ROOT}/config/bazarr:/config
      - ${ROOT}/library:/library
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'bazarr'
      traefik.port: '6767'
      traefik.local.frontend.rule: 'Host:bazarr.localhost'
      traefik.https.frontend.rule: 'Host:bazarr.${DOMAIN:-default}'

  organizr:
    image: organizrtools/organizr-v2:latest
    restart: unless-stopped
    expose:
      - '80'
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
    volumes:
      - ${ROOT}/config/organizr:/config
    labels:
      <<: *default_traefik_no_auth
      traefik.backend: 'organizr'
      traefik.port: '80'
      traefik.local.frontend.rule: 'Host:organizr.localhost'
      traefik.https.frontend.rule: 'Host:organizr.${DOMAIN:-default}'

  plex-server:
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    environment:
      - TZ=${TZ} # timezone, defined in .env
    network_mode: host # access on port 32400
    volumes:
      - ${ROOT}/config/plex/db:/config # plex database
      - ${ROOT}/config/plex/transcode:/transcode # temp transcoded files
      - ${ROOT}/library:/data # media library

  tautulli:
    image: linuxserver/tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT}/config/tautulli:/config
      - ${ROOT}/logs/tautulli:/logs
    ports:
      - 8181:8181
    restart: unless-stopped
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'tautulli'
      traefik.port: '8181'
      traefik.local.frontend.rule: 'Host:tautulli.localhost'
      traefik.https.frontend.rule: 'Host:tautulli.${DOMAIN:-default}'

  traefik:
    image: traefik:latest
    restart: always
    command:
      --logLevel=info --entryPoints="Name:http Address::80" --defaultEntryPoints=https,http \
      --docker --docker.domain=${DOMAIN:-default} --docker.endpoint="unix:///var/run/docker.sock" \
      --docker.watch=true --docker.exposedbydefault=false \
      --api \
      --entryPoints="Name:https Address::443 TLS" \
      --acme=true --acme.entrypoint=https --acme.httpchallenge --acme.httpchallenge.entrypoint=http \
      --acme.domains=${DOMAIN:-default} --acme.email=${EMAIL:-default} --acme.storage=acme.json
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${ROOT}/config/traefik/acme.json:/acme.json
    labels:
      <<: *default_traefik_opts
      traefik.backend: 'traefik'
      traefik.port: '8080'
      traefik.local.frontend.rule: 'Host:traefik.localhost'
      traefik.https.frontend.rule: 'Host:traefik.${DOMAIN:-default}'
